/*
--general
*/

body {
  background-color: #000000;
  margin-top: 3em;
  margin-bottom: 3em;
}

@font-face {
  font-family: "Modern Serif Eroded";
  src: url("Modern Serif Eroded.ttf");
}

* {
  font-family: Modern Serif Eroded, serif;
  color: #fff;
}

a {
  text-decoration: none;
}

/*
--jumbotron
*/

.jumbotron img {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

/*
--main
*/

h3 {
  font-size: 6em;
  text-align: center;
}

p {
  font-sie: 4em;
  width: 90%
  text-align: center;
  margin: 1em;
}

.main img {
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}

/*
--footer
*/

li {
  font-size: 4em;
  text-decoration: none;
  display: block;
  padding: .25em;
  margin: 1em;
  text-align: center;
}
