/*
--general
*/

body {
  background-color: #000000;
  margin-top: 3em;
  margin-bottom: 3em;
}

@font-face {
  font-family: "Modern Serif Eroded";
  src: url("Modern Serif Eroded.ttf");
}

* {
  font-family: Modern Serif Eroded, serif;
  color: white;
}

a {
  text-decoration: none;
}

/*
--jumbotron
*/

.jumbotron img {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

/*
--main
*/

h3 {
  font-size: 4em;
  text-align: center;
}

p {
  font-sie: 2em;
  width: 90%
}

td img {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

table {
  display: block;
}

td {
  width: 100%;
  display: inline block;
}

/*
--footer
*/

li {
  font-size: 2em;
  text-decoration: none;
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
  clear: right;
}
