/*
--basic reset
*/

body {
	margin: 1.5em 6em;
	background-color: #000000;
}

/*
--typography
*/

@font-face {
	font-family: "Modern Serif Eroded";
	src: url("Modern Serif Eroded.ttf");
}

* {
	color: #fff;
	font-family: Modern Serif Eroded, serif;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: .75em;
}

li {
	text-decoration: none;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 0em 4em;
}

/*
--structure
*/

.jumbotron img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

td {
	padding: 2em;
	border: .25em solid #ffff00;
}

td h3, p {
	float: left;
	width: 21%;
}

td img {
	float: right;
	width: 8%;
}

		/*images*/

.main img {
	width: 6em;
}

/*
--general use
*/
