/*
--basic reset 
*/

body {
	margin: 2.5em .5em;
	background-color: #000000;
}

/*
--typography
*/

@font-face {
	font-family: ;
}

* {
	color: #fff;
	font-family: Modern Serif Eroded; src: url("Modern Serif Eroded.ttf");
}



/*
--structure
*/

.jumbotron img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

/*
--general use
*/
