/*
--basic reset
*/

body {
	margin: 1.5em 3em;
	background-color: #000000;
}

/*
--typography
*/

@font-face {
	font-family: "Modern Serif Eroded";
	src: url("Modern Serif Eroded.ttf");
}

* {
	color: #fff;
	font-family: Modern Serif Eroded, serif;
}

a {
	text-decoration: none;
}


/*
--structure
*/

.jumbotron img {
	display: block;
	margin: 6em auto;
	width: 100%;
}

		/*main*/

.main h3 {
	text-align: center;
	font-size: 1.5em;
}

.main p {
	float: left;
	clear: left;
	width: 50%;
	font-size: .75em;
}

.main img {
	float: right;
	clear: right;
	width: 35%;
}

.main a {
	border: .2em solid yellow;
	margin: 2em;
	padding: 0em 1em;
	width: 30%;
}

		/*footer*/

.top {
	display: inline-flex;
	justify-content: center;
}

.bottom {
	display: inline-flex;
	justify-content: center;
}


li {
	text-decoration: none;
	display: inline-block;
	padding: 2em;
}

.left {
	float: left;
}

.right {
	float: right;
	clear: right;
}

/*
--general use
*/

.main a:hover {
	position: relative;
	transform: scale(1.6,1.6);
	overflow: hidden;
	background-image: url(black.jpg);
	margin: 4em;
}
