/*
--basic reset
*/

body {
	margin: 1.5em 6em;
	background-color: #000000;
}

/*
--typography
*/

@font-face {
	font-family: "Modern Serif Eroded";
	src: url("Modern Serif Eroded.ttf");
}

* {
	color: #fff;
	font-family: Modern Serif Eroded, serif;
}

li a {
	text-decoration: none;
}

p {
	font-size: 1em;
}

/*
--structure
*/

.jumbotron img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
}

		/*images*/

.main img {
	width: 6em;
}

/*
--general use
*/
